/*style de base */



body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #151515;
    color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



/* Style du Header */
.header {
    display: flex;
    justify-content: space-between;  /* Espace entre le logo et la navigation */
    align-items: center;            /* Centrer verticalement les éléments */
    padding: 20px 40px;
    background-color: #151515;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}



/* Navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #303030;
    position: relative;
    z-index: 1000; /* Assurez-vous que la navigation est au-dessus des autres éléments */
}

/* Style pour la barre de navigation au scroll */
.navbar.scrolled {
    background-color: #151515;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logo {
    font-size: 24px;
    color: #B3995B;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #B3995B;
}

/* Style pour le menu burger */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #B3995B;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #151515;
        z-index: 999; /* Assurez-vous que le menu est au-dessus des autres éléments */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .header {
        padding: 10px 20px;
    }

    .logo h1 {
        font-size: 24px;
    }

    .navbar {
        padding: 10px 0;
    }

    .about {
        padding: 40px 20px;
    }

    .about .section-title {
        font-size: 28px;
    }

    .about-content {
        font-size: 16px;
    }
}

/* Section Compétences */
.skills-intro, .skills, .tools {
    padding: 40px 20px;
    background-color: #151515;
    color: #FFFFFF;
    text-align: center;
}

.skills-intro .section-title, 
.skills .sub-title, 
.tools .sub-title {
    font-size: 28px;
    color: #B3995B;
    margin-bottom: 20px;
}

.skills-grid, .tools-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.skill-logo, .tool-logo {
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-logo:hover, .tool-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #303030;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}

.skill-logo p, .tool-logo p {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    font-weight: bold;
}

.section-title {
    color: #B3995B;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.skills-section {
    background-color: #151515;
    padding: 40px 0;
}


.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    background-color: #303030;
    border: 1px solid #B3995B;
    border-radius: 5px;
    padding: 20px;
    width: calc(50% - 40px); /* Deux cartes par ligne sur les écrans moyens */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #B3995B;
}

.skill-card p {
    font-size: 1em;
    color: #FFFFFF;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .skill-card {
        width: 100%; /* Une carte par ligne sur les petits écrans */
    }

    .section-title {
        font-size: 1.5em;
    }

    .skill-card h3 {
        font-size: 1.2em;
    }

    .skill-card p {
        font-size: 0.9em;
    }
}

.footer {
    padding: 20px 0;
    text-align: center;
    background-color: #303030;
    color: #B3995B;
}

.about {
    padding: 60px 20px;
    background-color: #151515;
    text-align: center;
}

.about .section-title {
    font-size: 36px;
    color: #B3995B;
    margin-bottom: 30px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    position: relative;
}

.about-content p {
    margin-bottom: 20px;
}

.skills {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills li {
    margin: 10px;
    padding: 10px 20px;
    background-color: #303030;
    border-radius: 5px;
    font-size: 16px;
}

/* Responsive adjustments for skills */
@media (max-width: 768px) {
    .skills li {
        width: 100%;
        text-align: center;
    }
}
